:root {
    --gray1: #1f1f1f;
    --gray2: #2f2f2f;
    --gray3: #3f3f3f;
    --gray4: #4f4f4f;
    --gray5: #5f5f5f;
    --gray6: #6f6f6f;
    --gray7: #7f7f7f;
    --gray8: #8f8f8f;
    --gray9: #9f9f9f;
    --gray0: #cecece;
    --white1: #d1d1d1;
    --white2: #d2d2d2;
    --white3: #d3d3d3;
    --white4: #d4d4d4;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    background-color: var(--white1)
}

.top-bar-container {
    background-color: var(--gray3);
    margin: -10px -10px -1px -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 88vw;
        img {
            padding: 0 2vw;
        }
}

.navigation-bar {
    animation: fadeUp 1s forwards;
    a {
        text-decoration: none;
        font-size: 20px;
        color: var(--white4);
        padding: 5px 1vw;
        border-radius: 8px;
    }
    a:hover {
        animation: navLinkHover 0.5s forwards;
    }
    .active {
        background-color: var(--gray5);
    }
}

.menu-icon {
    animation: fadeUp 1s forwards;
    display: none;
    img {
        height: 50px;
        cursor: pointer;
    }
}

.landing-page {
    display: flex;
    background-image: url(/images/steel/seamless.avif);
    margin: 0 -10px;
}

.steel, .slideshow-container {
    height: 500px;
    margin: 0 0 0 -10px;
}

.slide {
    width: 666px;
    margin: 0 0 -10px 0;
}

.steel {margin: 0 -10px;}

.steel-text {
    position: relative;
    width: 90vw;
    margin: auto;
    animation: fadeUp 1s forwards;
    h1, h2 {
        color: var(--white4);
        text-shadow: 3px 3px var(--gray2);
    }
    h1 {
        font-size: calc(3rem + 3vw);
        margin-bottom: 5vw;
    }
    h2 {
        font-size: calc(1.5rem + 1vw);
        margin-bottom: 5vw;
    }
    a {
        text-decoration: none;
        color: var(--gray2);
        background-color: var(--white4);
        font-size: calc(1.2rem + 0.5vw);
        padding: 5px;
        border-radius: 10px;
    }
    a:hover {animation: touchButtonHover 0.5s forwards;}
}

.mid-bar-container {
    background-color: var(--gray3);
    margin: 0 -10px;
    display: flex;
    justify-content: center;
}

.mid-bar {
    width: 70vw;
    color: var(--white4);
    display: flex;
    justify-content: center;
    h3 {
        text-align: center;
        font-size: calc(0.7rem + 1vw);
        padding: 0 3vw;
    }
}

.info-box, .list-box {
    background-color: #c7c7c7;
    color: var(--gray2);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.list {text-align: center;}

.info-grid, .list-grid, .dynamic-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 90vw;
}

.info-box {
    h3 {
        font-size: calc(1em + 6vw);
        margin: 0 5px;
    }
    p {
        margin: 2vw 1px calc(1em + 0.5vh) 0;
        font-size: calc(0.8rem + 1vw);
    }
    a {
        font-size: calc(0.5em + 2vw);
        text-decoration: none;
        color: var(--white4);
        background-color: var(--gray6);
        padding: 5px;
        border-radius: 10px;
        margin: auto;
    }
    a:hover {
        animation: buttonHover 0.5s forwards;
    }
    img {
        width: 100%;
    }
    h4 {
        font-size: calc(1rem + 1vw);
        margin: 0px;
    }
    h5 {margin: -10px 0 0 0;}
}

.caption {margin: -10px;}

.list-box {
    h3 {
        font-size: calc(1rem + 3vw);
        margin: 1vh;
    }
    h4 {
        font-size: calc(1rem + 1vw);
        margin: 1vh;
    }
    .icon {
        height: calc(1rem + 7vh);
        width: fit-content;
        margin: 1vh;
        filter: invert(32%) sepia(0%) saturate(0%) hue-rotate(325deg) brightness(93%) contrast(92%);
    }
    ul {
        font-size: calc(0.7rem + 1vw);
        list-style-type: none;
        padding-left: 0;
        a {color: var(--gray2);}
    }
    a {
        color: var(--gray2);
    }
    p {
        margin: 2vw 1px calc(1em + 0.5vh) 0;
        font-size: calc(0.8rem + 1vw);
    }
}

.contact-container {
    background-color: var(--gray3);
    margin: 0px -10px -10px -10px;
}

.contact-bar {
    hr {
        width: 80vw;
    }
}

.contact-box {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 2vw;
    color: var(--white4);
    p, img, a {
        margin: 1vw;
    }
    img {
        height: calc(1rem + 1vh);
        width: fit-content;
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(286deg) brightness(106%) contrast(101%);
    }
    a {
        color: var(--gray9);
    }
}

.title-head {
    text-align: center;
}

.form-box {
    display: flex;
    flex-direction: column;
}

label {
    font-size: calc(0.8rem + 1vw);
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 95%;
}
input {
    width: 95%;
    height: calc(0.8rem + 1vw);
    font-size: calc(0.6rem + 1vw);
    background-color: var(--white4);
    border: 1px solid var(--gray8);
}

.gallery-group input {
    height: calc(1rem + 1vw);
}

textarea {
    width: 95%;
    height: 10vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(0.6rem + 1vw);
    background-color: var(--white4);
    border: 1px solid var(--gray8);
}

button {
    font-size: calc(0.8rem + 1vw);
    padding: 1vh 1vw;
}

.sort-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px auto;
}
.sort-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    .column1, .column2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery-group {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    label {
        font-size: 18px;
        width: 60vw;
    }
}

.gallery-box {margin-bottom: 5px;}

.gallery-box img {border: 1px solid var(--gray4);}


/* MEDIA QUERIES */
@media screen and (max-width: 320px) {
    body {display: none;}
}

@media screen and (min-width: 480px) {
    .about-box img {
        height: 350px;
        width: fit-content;
    }
    .gallery-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
            height: 300px;
            width: fit-content;
        }
    }
    .gallery-box .item {
        margin: 20px;
    }
}

@media screen and (max-width: 480px) {
    .item {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .item img {
        width: 100%;
        height: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .menu-icon {display: block;}
    .navigation-bar {display: none;}
    .landing-page {
        flex-direction: column;
        justify-content: center;
    }
    .slideshow-container, .slide img {
        width: 100vw;
        height: fit-content;
        margin-left: 0;
        margin-bottom: 3px;
    }
    .steel-text {text-align: center;}
}

@media screen and (min-width: 768px) {
    .info-grid {
        grid-template-columns: 2fr 50vw;
    }
    .list-grid {
        grid-template-columns: 33vw 33vw 33vw;
    }
    .info-box h3, .list-box h3 {font-size: 46px;}
    .info-box a {font-size: 20px;}
    .info-box p {font-size: 18px;}
    .list-box {
        ul {font-size: 18px;}
        p {font-size: 18px;}
    } 
    .info-box img {
        height: 200px;
        width: fit-content;}
    .steel-text {
        width: 600px;
        margin-left: 50px;
        h1 {
            font-size: 82px;
            margin-bottom: 5px;
            margin-top: 30px;
        }
        h2 {font-size: 30px;
            margin-bottom: 30px;}
    }
    .slideshow-container, .slide img {
        height: 500px;
        width: fit-content;
        margin: 0 60px;
        z-index: 0;
    }
    .contact-bar {
        display: flex;
        hr {width: 0}
        p, a {font-size: calc(1em + 0.4vw);}
    }
    .about-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .about-quote {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                height: 400px;
            }
        }
    }
    .biography {
        width: 40vw;
    }
    .sort-box {
        margin: 20px;
    }
    .gallery-box {
        img {height: 500px;
            width: fit-content;}
    }
}

.hidden {display: none;}

@media screen and (min-width: 1200px) {
    .info-box img {
        height: 300px;
        width: fit-content;
    }
}

@media screen and (min-width: 1442px) {
    .landing-page {
        justify-content: center;
        background-image: url(/images/steel/seamless.avif);
        background-blend-mode: darken;
        margin: 0 -10px;
    }
    .steel-image {display: none;}
}

/* ANIMATIONS */
@keyframes fadeUp {
    0% {
        opacity: 0%;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes navLinkHover {
    0% {}
    100% {
        color: var(--gray3);
        background-color: var(--white1);
    }
}

@keyframes touchButtonHover {
    0% {}
    100% {
        color: var(--white4);
        background-color: var(--gray4);
    }
}

@keyframes buttonHover {
    0% {}
    100% {
        color: var(--gray2);
        background-color: var(--white4);
    }
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* STYLES FOR CURTAIN MENU*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .slide {
    display: none;
    animation: fade 2s;
  }
